body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.letreiro-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #000;
  padding: 20px 0;
}

.letreiro span {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: white;
  animation: rolar 20s linear infinite;
}

@keyframes rolar {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}