body {
  margin: 0;
  background-color: #000000;
  overflow-x: hidden;
}

.letreiro {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: linear-gradient(90deg, #6A0DAD, #000000, #0000FF);
  padding: 10px 0;
}

.texto {
  display: inline-block;
  font-size: 24px;
  color: white;
  font-weight: bold;
  animation: rolar 15s linear infinite;
}

@keyframes rolar {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}